quay

*{
    margin: 0;
    padding: 0;
}
body{
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: #fff;
    background: url(./old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg) no-repeat fixed;
    background-size: cover;
    align-content: center;
    width: 100%;
    height: 100%;
}


.Background1{
    background-image:
    url(./the-creative-exchange-d1ngW7SNehM-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Box1{
    box-shadow: 0 0 5px rgb(0 0 0);
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 9999;
    
}

.Header1{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    justify-content: space-between;
    line-height: 27px;
    margin: 0px 173.6px;
    padding: 8px 15px;
    
}

.logo1 img{
    /* width: 89px; */
    height:80px;
}

.text1{
    font-family: DM Sans;
    font-weight: light;
    font-size: 20px;
    letter-spacing: 0.3px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40%;
    cursor: pointer;
}

.Box1.ac{
    background-color: black !important;
    transition: 1s;
}

.text1 a{
    text-decoration: none;
    color: white;
}

.home:hover{
    color: #c49b63;
}

.menu:hover{
    color: #c49b63;
}

.about:hover{
    color: #c49b63;
}

.shop:hover{
    color: #c49b63;
}


.main_content1{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding:0px 15px;
    font-weight: 300;
    text-align: center;
}



.text1_2{
    font-size:40px;
   
    
}

.text1_3{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    
}
.Box1.ac{
    background-color: black !important;
    transition: 1s;
}

.home1 a{
    text-decoration: none;
    color: white;
}

.about1 a{
    text-decoration:none;
    color: white;
}

.home1:hover{
    cursor: pointer;
}

.about1:hover{
    cursor: pointer;
}

.home1 a:hover{
    color: black;
}

.about1 a:hover{
    color: black;
}


.MENU{
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 15px;
    margin-top: 20px;
    color: #c49b63;
    margin-bottom: 20px;
    background-color: none;
    background-color: transparent; 
    color: #c49b63; 
    border: 2px solid #c49b63;
    margin-left: 690px;
    margin-right: 690px; 
   
}
.MENU:hover{
    background-color: #c49b63;
    color: black;
}


.shopp{
    display: flex;justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-left: 120px;
}




.shop1{    
    background-color: none;
    text-align: center;
    margin: 0;
    color: #212529;
    flex: 0 0 100%;
    padding: 3rem!important;
    width: 420px;
    height: 420px;
    display: flex;justify-content: space-between;
    margin-top: 20px ;

}


.price{
    font-size: 15px;
    color:thistle
    
}

.button .button1{
    text-align: center;

}
   
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    color:thistle
}
    h3{
        font-size: 18px;
        margin: 0px 0px 8px;
        text-align: center;
        color:thistle
    }
    


       .button {
        background-color: #c49b63; /* Green */
        border: none;
        color: transparent;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        
      }
       .button1 {
        background-color: transparent; 
        color: #c49b63; 
        border: 1px solid #c49b63;
      }
      
      
      .button1:hover {
        background-color: #c49b63;
        color: white;
      }


      /* dau bai  */
      .Background1{
        background-image:
        url(the-creative-exchange-d1ngW7SNehM-unsplash.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative
    }
    
    
/* tieu de gio hang */
    
    .cartpage{
        
        margin: 80px auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;
    }

    .cart-info{
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
        

    }
    
    th{
        text-align: left;
        padding: 5px;
        color: #fff;
        background: #c49b63;
        font-weight: normal;
    }

    .Product{
        margin-left: 100px;
        text-align: center;
    }

    td{
        padding: 10px 5px;
    }
    
    td input{
        width: 40px;
        height: 30px;
        padding: 5px;
        margin-left: 18px;
    }
    
    td a{
        color: #c49b63;
        font-size: 15px;
    }
    
    td small{
        font-size: 15px;
    }
    
    td p{
        font-size: 16px;
        
    }
    
    td img {
        width: 120px;
        height: 100px;
        margin-right: 10px;
        margin-left: 120px ;
    }
    
    th{
        padding: 20px 10px;
        font-size: 18px;
    }
    
    
    .cardCf{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
    }
    
    .total-price{
        font-size: 15px;
        display: flex;
        justify-content: flex-end;}



    /* chan web  */
    .Background5{
    background-image: url(./black.jpg);
    color:white;
    width: 100%;
    height:30vh;
}

.Line5{
    border: 1px solid white;
}

.Footer5{
    display:flex;
    color:white;
 
    justify-content: space-between;
    width: 75%;
    margin: auto;
    height:40%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.logo1 img{
    width: 89px;
    height:90px;
}

.Footer5_maincontent1{
    width:30%;
    font-size:20px;
}

.Maincontent1_text1{
    font-weight: bold;
}

.Maincontent1_text2{
    margin-top: 10px;
    font-size: 16px;
}

.Maincontent2_text1{
    font-weight: bold;
    font-size: 20px;
}

.Maincontent2_text2{
    display: flex; margin-top: 10px;
}

.Maincontent2_text3{
    display:flex; margin-top: 10px;
}

.Footer_end{
    margin-top: 50px; 
    text-align: center; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
}
    .total-price table{
        border-top: 3px solid #c49b63;
        width: 100%;
        max-width: 350px;
    }